name: remote_game
description: "Applicazione di gioco Tris (Tic-Tac-Toe) multiplayer tramite socket TCP."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
